@mixin mobile {
    @media (max-device-width: 1200px) {
        @content;
    }
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir-Roman') format('truetype'),
         url('/assets/fonts/Avenir-Medium') format('truetype'), 
         url('/assets/fonts/Avenir-Heavy') format('truetype');
}

h1 {
    font-family: 'Avenir-Heavy', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Avenir-Medium', sans-serif;
    font-weight: 500;
}

h3 {
    font-family: 'Avenir-Medium', sans-serif;
    font-weight: 500;
}

h4 {
    font-family: 'Avenir-Medium', sans-serif;
    font-weight: 600;
}

body {
    font-family: 'Avenir-Roman', sans-serif;
    font-weight: 400;
}

.container {

    display: flex;
    flex-direction: column;

    max-width: 80%;
    margin: auto;

    box-sizing: border-box;
}

.section {
    padding: 3em 0;
}
