@mixin mobile {
  @media (max-device-width: 1200px) {
    @content;
  }
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir-Roman') format('truetype'),
       url('/assets/fonts/Avenir-Medium') format('truetype'),
       url('/assets/fonts/Avenir-Heavy') format('truetype');
}

body {
  font-family: 'Avenir-Roman', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;

  @include mobile {
      font-size: 14px;
  }
}

h1 {
  font-family: GorditaMedium,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 550;
  line-height: 1.2em;
  font-size: 4em;
  margin: 0;

  @include mobile {
    font-size: 3em;
  }
}

h2 {
  font-size: 3em;
  font-family: GorditaMedium,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  margin: 0;
  line-height: 1.25em;

  @include mobile {
    font-size: 2em;
    text-align: center;
    line-height: 1.25em;
  }
}

h3 {
  color: #958DB7;
  font-weight: 400;
  font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h4 {
  color: #181039;
  font-weight: 500;
  font-size: 1.5em;
  font-family: GorditaMedium,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  letter-spacing: 0.06em;
  margin: 0;
}

h5 {
  font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #958DB7;
}


p {
  margin: 0.5em 0;
  font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

  @include mobile {
    padding: 0.1em 0em;
  }
}


hr {
  width: 25%;
  border-color: #E7E7E7;
  border: 1px solid #E7E7E7;
}

.white {
  color: white;
}

.center-text {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  align-items: center;
}

.section {
  padding: 3em 3em;
}

.section-alt {
  @extend .section;
  background-color: #FAFAFA;
}

.heading {
  color: #100832;
  font-size: 3.286em;
  font-weight: 500;
  font-family: GorditaMedium,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-align: center;
}

.footer-menu {
  font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #958DB7;
  font-size: 1em;
  text-decoration: none;
  margin: 0em 1.25em;

  a:link {
    margin: 0em 1.25em;
    text-decoration: none;
    color: #958DB7;
  }

  a:visited {
    font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    color: #958DB7;
    text-decoration: none;
 }
}

.cta {
  font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: white;
}

