@mixin mobile {
    @media (max-device-width: 1200px) {
      @content;
  }
}

.about-title {
    padding-top: 5em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    background-image: url('../../assets/images/path1.png');
    background-position: bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;

    .large-title {
      margin-bottom: 1em;
    }

    h5 {
        line-height: 1.25em;
    }
}

.content-container {
    padding: 0em 5em;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-image: linear-gradient(-180deg, #F4F5F9, #FDFDFD, #FFFFFF);

    h4 {
        color: black;
        font-size: 3.286em;
        letter-spacing: -0.01em;
    }

    h5 {
        color: black;
        margin-top: 2em;
        line-height: 1.5em;
        letter-spacing: 0.01em;
    }

    .how-container {
        display: flex;
        flex-direction: row;
        margin: 3em 0em;
        align-items: center;
    
        .how-text {
            display: flex;
            flex-direction: column;
            padding-right: 3em;
    
        }
    
        .how-image {
    
        }
    }

    .intro-container {
        display: flex;
        flex-direction: row;
        margin: 4em 0em;
        align-items: center;

        .intro-text {
            display: flex;
            flex-direction: column;
            width: 55%;
            padding-left: 3em;
        }

        .intro-image {
            max-width: 40%;

            img {
                width: 100%;
            }

        }
    }

    .project-container {
        display: flex;
        flex-direction: row;
        margin: 4em 0em;
        align-items: center;

        .project-text {
            display: flex;
            flex-direction: column;
            padding-right: 5.5em;
        }

        .project-image {
        }
    }

    .born-container {
        display: flex;
        flex-direction: row;
        margin: 4em 0em;
        align-items: center;
        //background-image: url('../../assets/images/partybackground.png');
        //background-size: 100% 100%;

        .born-text {
            display: flex;
            flex-direction: column;
            width: 55%;
            padding-left: 3em;
        }

        .born-image {
            max-width: 40%;

            img {
                width: 100%;
            }
        }
    }

    .community-container {
        display: flex;
        flex-direction: row;
        margin: 4em 0em;
        align-items: center;

        .community-image {
            display: flex;
            justify-content: center;
            width: 55%;
        }

        .community-text {
            width: 45%;
        }
    }
}

.our-team {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/path6.png');
    background-position: top;
    background-size: 100% 25%;
    background-repeat: no-repeat;
    padding-top: 12.5em;
    padding-bottom: 3em;

    .our-title {
        display: flex;
        justify-content: center;
    }

    .team-grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 2em;
        justify-content: center;

        .team-image {
            flex-basis: 30%;
            max-width: 30%;
            display: flex;
            padding: 1em;
            text-align: center;
            flex-direction: column;
            align-items: center;

            .team-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 1em;

                h6 {
                    color: black;
                    margin-bottom: 0.25em;
                }

                h5 {
                    color: black;
                }
            }

            .team-socials {
                display: flex;
                flex-direction: row;
                margin: 0.25em;

                .social-logo {
                    height: 1.429em;
                    max-width: 1.429em;
                    margin: 0.3em;
                }
            }
        }

        img {
            max-width: 31%;
            }
    }
}
