@mixin mobile {
  @media (max-device-width: 450px) {
    @content;
  }
}

.hero {
  background-image: url('../../assets/images/path1.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-left: 4.25em;

    @include mobile {
      flex-direction: column;
    }
  }

  .content-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0em;

    @include mobile {
      width: 100%;
    }

    .description {
      margin-top: 4.5em;
      margin-bottom: 2.75em;
      color: #958DB7;
      font-weight: 400;
    }

    .buttons {
      display: flex;

      .cta {
        padding: 0.75em 2em;
        border-radius: 0.85em;
        white-space: nowrap;
        font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: white;

        @include mobile {
          padding: 0.75em 1em;

        }
      }

      .whitepaper {
        margin-right: 2em;
        background-color:#100832;
        display: flex;
        align-items: center;
        box-shadow: 0em 0.125em 0.25em 0em rgba(0, 0, 0, 50);
  
        @include mobile {
          margin-right: 1em;
        }
  
      }
  
      .video {
        background: #5944EE;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        box-shadow: 0em 0.125em 0.25em 0em rgba(0, 0, 0, 50);
        color: white;
  
        img {
          padding-right: 1em;
        }

        //Will cleanup later, damn play button
        p {
          margin-top: 0.7em;

        }
      }
    }
  }

  .image-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      align-items: flex-start;
      display: flex;
      width: 100%;
      margin-top: 3em;
    }

    //does this need to be fixed
    img {
      width: 65.5%;
      height: 100%;

      @include mobile {
        width: 50%;
      }
    }
  }
}

.features {
  padding: 6em 6em;
  background-image: linear-gradient(-180deg, #F4F5F9, #FDFDFD, #FFFFFF);

  .sub-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
  }

  .list-container {
    display: flex;
    margin: 0em 8em;
  
    .left-side {
      padding-right: 4em;
      width: 70%;

      img {
        width: 100%
      }
    }

    .right-side {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 2em;
    }
  }
 }

.partner {
  .container {
    display: flex;
    flex-direction: column;

    .heading {
      color: #100832;
      font-size: 2.875em;
      font-weight: 500;
      font-family: GorditaMedium,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      text-align: center;
      }
    }

    .logos-container {
      //Will cleanup later, em's for visibility purposes
        .MKR {
          width: 14em;
          height: 3.438em;
          padding: 0em 3.125em;
        }
    
        .tenz {
          width: 18.351em;
          height: 4.313em;
        }
    
        .bitfwd {
          width: 14.563em;
          height: 4.313em;
      }
    } 
  }
