@mixin mobile {
  @media (max-device-width: 1200px) {
    @content;
  }
}

.hero {
  background-image: url('../../assets/images/path1.png');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;

  .container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    //padding-left: 4.25em;

    @include mobile {
      flex-direction: column;
    }

  }

  .content-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0em;

    @include mobile {
      margin: auto;
      text-align: center;
      align-items: center;
    }

    .description {
      margin-top: 4.5em;
      margin-bottom: 2.75em;
      color: #958DB7;
      font-weight: 400;

      @include mobile {
        margin-top: 3em;
      }
    }

    .buttons {
      display: flex;
      
      @include mobile {
        flex-direction: column;
        align-items: center;
        width: 12em;
        margin-left: 2em;
      }

      .cta {
        padding: 0.75em 2em;
        border-radius: 0.85em;
        white-space: nowrap;
        font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: white;

      }

      .whitepaper {
        margin-right: 2em;
        background-color:#100832;
        display: flex;
        align-items: center;
        box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.15);

        @include mobile {
          margin-bottom: 1.5em;
          width: 100%;
          justify-content: center;
          margin-right: 0em;
        }
  
      }
  
      .video {
        background: #5944EE;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.15);
        color: white;

        @include mobile {
          width: 100%;
        }
  
        img {
          padding-right: 1em;
          width: 12.5%;

          @include mobile {
            width: 10%;
          }
        }

        //Will cleanup later, damn play button
        p {
          margin-top: 0.7em;

          @include mobile {
            margin: 0.5em 0em;
          }

        }
      }
    }
  }

  .image-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
      padding-top: 3em;
      display: none;
    }

    //NEEDS to be fixed
    img {
      width: 65.5%;
      height: 100%;
    }
  }
}

.features {
  padding: 6em 6em;
  background-image: linear-gradient(-180deg, #F4F5F9, #FDFDFD, #FFFFFF);

  @include mobile {
    padding: 6em 2em 0em 2em;
  }

  .sub-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    
    @include mobile {
      text-align: center;
      margin-bottom: 2.5em;
    }
  }

  .list-container {
    display: flex;
    margin: 0em 8em;
    align-items: center;

    @include mobile {
      flex-direction: column;
      margin: 0;
    }
  
    .left-side {
      margin-right: 4em;
      width: 70%;
      
      @include mobile {
        width: 100%;
        margin-right: 0em;
        margin-bottom: 1em;
      }

      img {
        width: 100%;

        @include mobile {
          width: 70%;
          display: block;
          margin-right: auto;
          margin-left: auto;
          min-width: 24em;
          padding-bottom: 1.5em;
        }
      }
    }

    .right-side {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .content {
        @include mobile {
          text-align: center
        }
      }

      @include mobile {
        width: 100%;
      }
    }
  }
 }

.partner {
  background-image: url('../../assets/images/path2.png');
  background-position: bottom;
  //background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 22em;

  @include mobile {
    //padding: 2em 2em
    background-image: url('../../assets/images/path3.png');
    padding-bottom: 8em;
    background-position: bottom;
  }

  .container {
    display: flex;
    flex-direction: column;

    .h2 {
      color: #100832;
      text-align: center;
      margin-bottom: 1.5em;

      @include mobile {
        margin-bottom: 1em;
       }
      }
    }

    .logos-container {
        .logos {
          width: 27%;
          padding: 0em 1.5em;

          @include mobile {
            padding: 1em 1em;
            //margin: 1em 2em;
            width: auto;
            max-width: 40%;
          }
        }
    
      @include mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 30em;
      }
    } 
  }

  .buidl {
    margin: 2em 0em;
    
    .container {
      
      .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
          text-align: center;
          margin-top: 5em;
          padding: 0em 0.5em;
        }

        p {
          font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
          font-size: 1.3em;
          color: #958DB7;
          margin: 1.75em 0em;
        }
      }

      .email-cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1em;
        font-family: GorditaRegular,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: #958DB7;
        padding: 0.75em 2em;
        border-radius: 0.85em;
        white-space: nowrap;
        box-shadow: 0px 20px 40px -10px rgba(0,0,0,0.15);

        @include mobile {
          padding: 0em 0em;

        p {
          @include mobile {
            //margin: 0.5em 0em;
            padding-left: 1em;
          }
         }
        }

        .subscribe-button {
          background: #5944EE;
          display: flex;
          flex: 1;
          padding: 0.5em 1.5em;
          border-radius: 0.571em;    
          color: white;
          margin-left: 5em;

          @include mobile {
            margin-left: 3em;
            padding: 0.2em 1.5em;

            p1 {
              @include mobile {
                margin: 0.5em 0em;
                //padding-left: 1em;
              }
             }
          }
        }
      }
    }
  }
