@mixin mobile {
    @media (max-device-width: 1200px) {
        @content;
    }
}

.hero {

    .container {

        display: flex;
        flex-direction: row;

        @include mobile {
            flex-direction: column-reverse;
        }

    }

    .description {

        margin-bottom: 2.5em;

    }

    .content-side {
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        .button {
            background: #8A8A8F;
            align-self: flex-start;
        }

    }

    .image-side {

        margin-right: 5em;

        @include mobile {
            display: none;
        }

    }

}

.what {

    .header-container {

        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            height: 5em;
            margin-right: 2em;
        }
        
    }

}

.how {

    .header-container {

        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            height: 5em;
            margin-right: 2em;
        }
        
    }

    .container {

        .description {

            margin-bottom: 5em;

        }

        .overview-image {

            max-width: 100%;
            width: 80%;

            @include mobile {
                width: 100%
            }

        }

    }

}

.why {

    .header-container {

        display: flex;
        align-items: center;

    }

    .description {

        margin-bottom: 2.5em;

    }

    .reason {

        display: flex;
        align-items: center;
        margin-bottom: 2.5em;

        @include mobile {
            flex-direction: column;
            margin-bottom: 5em;
        }

        .icon {

            margin-right: 2em;

            @include mobile {

                margin-bottom: 1em;

            }

        }

    }

}

.ecosystem {

    .items {

        display: flex;

        margin-top: 1.5em;

        @include mobile {
            margin-top: 0em;
            flex-direction: column;
        }

    }

    .items > div {
        width: 33%;

        @include mobile {
            width: 100%;
            margin: 1.5em 0;
        }
    }

}

.protocol {

}

.token-holders {

    .items {

        display: flex;

        @include mobile {
            flex-direction: column;
        }

    }

    .items > div {
        width: 33%;

        @include mobile {
            width: 100%;
            margin: 1.5em 0;
        }
    }

}