.hero {

    .container {

        display: flex;
        flex-direction: row;

    }

    .description {

        margin-bottom: 3.5em;

    }

    .right-side {

        margin-left: 5em;

    }

}

.ecosystem {

    .items {

        display: flex;
        margin-top: 2.5em;

    }

    .items > div {
        width: 33%;
    }

}

.protocol {

}

.token-holders {

    .items {

        display: flex;

    }

    .items > div {
        width: 33%;
    }

}