@mixin mobile {
    @media (max-device-width: 1200px) {
        @content;
    }
}

.hero {

    .container {

        display: flex;
        flex-direction: row;

        @include mobile {
            flex-direction: column-reverse;
        }

    }

    .description {

        margin-bottom: 3.5em;

    }

    .right-side {

        margin-left: 5em;

        @include mobile {
            display: none;
        }

    }

}

.ecosystem {

    .items {

        display: flex;

        margin-top: 1.5em;

        @include mobile {
            margin-top: 0em;
            flex-direction: column;
        }

    }

    .items > div {
        width: 33%;

        @include mobile {
            width: 100%;
            margin: 1.5em 0;
        }
    }

}

.protocol {

}

.token-holders {

    .items {

        display: flex;

        @include mobile {
            flex-direction: column;
        }

    }

    .items > div {
        width: 33%;

        @include mobile {
            width: 100%;
            margin: 1.5em 0;
        }
    }

}