.ecosystem-box-header-container {

    display: flex;
    flex-direction: column;

    margin-right: 2.5em;

    h4 {
        line-height: 0;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-image {
        height: 100%;
        margin-right: 0.5em;
        //margin-top: 0.5em;
    }

    .feature-container {
        display: flex;
    }

    .tick-image {
        margin-top: 0.8em;
        margin-right: 0.5em;
        height: 100%;
    }
    
}

