.navigation-header-container {

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E7E7;

    padding: 1em 3em;
    
    .container {

        a:link {
            text-decoration: none;
        }
    
        ul {
            padding: 0;
            margin: 0;
    
            list-style-type: none;
        }

        img {
            height: 2em;
        }

    }
    
}