.navigation-header-container {

    margin: 0.1em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E7E7;
        
    a:link {
        text-decoration: none;
    }

    ul {
        padding: 0;
        list-style-type: none;
    }
    
}