.navigation-footer-container {

    padding: 3em 3em;
    
    .container {

        flex-direction: row;

        img {
            height: 2.5em;
            object-fit: contain;
        }

    }
    
}