@mixin mobile {
  @media (max-device-width: 1200px) {
    @content;
  }
}

.navigation-footer-container {
  padding: 3em 3em;
  display: flex;
  flex-direction: row;
  flex: 1;

  .footer-menu {
    display: flex;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  .footer-container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    margin: 0em auto;
    justify-content: space-between;

    @include mobile {
      justify-content: center;
      width: 100%;
    }

   .footer-social {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

      @include mobile {
        width: 100%;
      }

      .items {
        display: flex;
        flex-direction: row;
        margin-right: 1em;
        height: 2em;
      }

      a {
        display: flex;
        width: 100%;
      }

      img {
        height: 100%;
        width: 2em;
        padding: 0em 0.75em;
      }
    }
  }
}
