.navigation-footer-container {
  padding: 3em 3em;
  display: flex;
  flex-direction: row;
  flex: 1;
  
  .footer-container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    margin: 0em auto;
    justify-content: space-between;

   .footer-social {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    .items {
     display: flex;
     flex-direction: row;
     margin-right: 1em;
     height: 2em;
    }

     img {
      height: 100%;
      padding: 0em 0.75em;
     }
   }
  }
}
