@mixin mobile {
  @media (max-device-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media (min-device-width: 1200px) {
    @content;
  }
}

.navigation-header-container {
  padding: .5em 3em;
  display: flex;
  white-space: nowrap;

  @include mobile {
    padding: 0;
    justify-content: space-between;
  }

  .logo {
    width: 33%;
    height: 5em;
    a:link {
      text-decoration: none;
    }

    img {
      height: 100%;
    }
  }

  .web-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #958DB7;
    font-size: 0.875em;
    width: 33%;

    @include mobile {
      display: none;
    }

    a:link {
      margin: 0em 1.25em;
      text-decoration: none;
      color: #958DB7;
    }

    a:visited {
    color: #958DB7;
    text-decoration: none;
    }

  }

  .social {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    width: 33%;

    .items {
      display: flex;
      flex-direction: row;
      margin-right: 1em;
      height: 2em;

      @include mobile {
        display: none;
      }

      img {
        //width: 2em;
        height: 100%;
        padding: 0em 0.75em;
      }
    }
  }
}

.burger-menu,
.burger-menu.open {
  cursor: pointer;
  z-index: 9999;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 30px rgba(48,95,129,0.3);
  display: none;

  @include mobile {
    position: fixed;
    right: 1.5em;
    top: 1em;
    display: inline-block;
  }
}

.burger-menu {
  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
  }
}

.burger-menu.open {
  .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
  }
}
