.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;

  .navigate-page {
    margin-bottom: 1em;
  }

  ul {
    position: relative;
    top: 0px;
    font-size: 24px;
    padding: 0px;
  }

  li {
    list-style: outside none none;
    margin: 10px 0px;
    padding: 0;
    cursor: pointer;
  }

  li:hover {
    color: #ff0000;
  }

  a {
    color: #958DB7;
    text-align: center;

  }
}