.person-container {
  display: flex;
  flex-direction: row;

  .image {
    margin-right: 1em;

    img {
      width: 6em;
      border-radius: 50%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 1em;
    }

    p {
      margin: 0;
    }

    .social-container {

      img {
        width: 1.25em;
        margin-right: 0.5em;
      }

      .github {
        width: 1em;
      }
    }
  }
}