@mixin mobile {
    @media (max-device-width: 1200px) {
        @content;
    }
}

.subscribe-container {

    .email-form {
        display: flex;

        .email {
            width: 50%;
            margin-right: 1em;
            font-size: 0.85em;
            letter-spacing: 0.04em;
            padding: 1em;
            border: none;
        }

        .submit {
            font-size: 0.85em;
            border: none;
            letter-spacing: 0.08em;
            background-color: black;
        }

    }

}