.token-box-header-container {

    margin-right: 2.5em;

    .header-container {

        display: flex;
        flex-direction: row;
        align-items: center;

        padding-bottom: 0.75em;

        .icon {
            height: 100%;
            margin-right: 0.5em;
        }

        h4 {
            margin: 0;
        }

    }
}